*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
    background-color: white;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    overflow: hidden;
    width: 50%;
    height: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -10;
}

.lscap {
  width: 100%;
}

@media (max-width: 991px)
{
  
}

.bg-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -9;
}
